body, .contact-h2, .formulario-h2{
    background-color: rgb(7, 7, 8);
}
body p, body h2, body h3{
    color: rgb(255, 255, 255);
}
#header-container{
    background-color: rgba(0, 0, 0, 0.7);
}
#about-us-container, #coments-clients{
    background-color: rgb(7, 7, 8);
}
#services{
    background-color: rgb(0, 0, 0);
}
.services, #about-text{
    background-color: rgb(19, 19, 19);
}
#erro-reserva,#erro-numero,#erro-nome,
#erro-idade,#erro-corte,#erro-dia,
#erro-hora{
    background-color: rgb(165, 8, 8);
}
#sucesso-reserva{
    background-color: rgb(4, 109, 13);
}
