@font-face{
    font-family: "Open sans regular";
    src: url(../fontes/OpenSans-Regular.woff);
}
@font-face {
    font-family: "Great Vibes";
    src: url(../fontes/GreatVibes-Regular.woff);
}
:root{
    --title-font-family: "Great Vibes", "Times New Roman", arial, serif;
    --text-font-family: "Open sans regular", arial, sans-serif;
    --h2-font: "Open sans regular", arial, sans-serif;
    --h3-font: "Open sans regular", arial, sans-serif;
    --title-font-size: 26pt;
    --subtitle-font-size: 18pt;
    --text-font-size: 14pt;


    --body-bg-color: rgb(255, 255, 255);
    --h2-color: rgb(0,0,0);
    --h3-color: rgb(0, 0, 0);
    --header-white: rgb(255, 255, 255);
    --p-color: rgb(0,0,0);
    --services-section-color: rgb(238, 238, 238);
    --services-bg-color: rgb(255, 255, 255);
    --coments-section-color: rgb(255, 255, 255);
    --brown: rgb(124, 126, 14);
    --brown-hover: rgb(159, 161, 24);
    --error-red: rgb(241, 33, 33);
    --footer-bg-color: rgb(0,0,0);
    --fade-black: rgba(0, 0, 0, 0.6);


}
html{
    scroll-behavior: smooth;
}
.dark-theme{
    --body-bg-color: rgb(7, 7, 8);
    --h2-color: rgb(255, 255, 255);
    --h3-color: rgb(255, 255, 255);
    --p-color: rgb(255, 255, 255);
    --services-section-color: rgb(0, 0, 0);
    --services-bg-color: rgb(19,19,19);
    --coments-section-color: rgb(7,7,8);
    --brown: rgb(124, 126, 14);
    --brown-hover: rgb(159, 161, 24);
    --error-red: rgb(165, 8, 8);
    --sucess-green: rgb(6, 167, 19);
    --fade-black: rgba(0, 0, 0, 0.6);
}