html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: "Open sans regular";
    src: url(../fontes/OpenSans-Regular.woff);
}
@font-face {
    font-family: "Great Vibes";
    src: url(../fontes/GreatVibes-Regular.woff);
}
:root{
    /*----------FONTS-------------*/
    --title-font-family: "Great Vibes", "Times New Roman", arial, serif;
    --text-font-family: "Open sans regular", arial, sans-serif;
    --h2-font: "Open sans regular", arial, sans-serif;
    --h3-font: "Open sans regular", arial, sans-serif;
    --title-font-size: 26pt;
    --subtitle-font-size: 18pt;
    --text-font-size: 14pt;
    /* -----------COLORS--------------*/
    --header-white: rgb(255, 255, 255);
    --body-bg-color: rgb(255, 255, 255);
    --h1-color: rgb(255,255,255);
    --h2-color: rgb(0,0,0);
    --h3-color: rgb(0, 0, 0);
    --p-color: rgb(0,0,0);
    --services-section-color: rgb(238, 238, 238);
    --services-bg-color: rgb(255, 255, 255);
    --services-box-shadow: rgb(194, 193, 193);
    --coments-section-color: rgb(255, 255, 255);
    --brown: rgb(124, 126, 14);
    --brown-hover: rgb(159, 161, 24);
    --error-red: rgb(241, 33, 33);
    --sucess-green: rgb(6, 167, 19);
    --footer-bg-color: rgb(0,0,0);
    --fade-black: rgba(0, 0, 0, 0.6);


}
.dark-theme{
    --body-bg-color: rgb(7, 7, 8);
    --h2-color: rgb(255, 255, 255);
    --h3-color: rgb(255, 255, 255);
    --p-color: rgb(255, 255, 255);
    --services-section-color: rgb(0, 0, 0);
    --services-bg-color: rgb(19,19,19);
    --services-box-shadow: rgb(0, 0, 0);
    --coments-section-color: rgb(7,7,8);
    --brown: rgb(124, 126, 14);
    --brown-hover: rgb(159, 161, 24);
    --error-red: rgb(165, 8, 8);
    --sucess-green: rgb(1, 105, 10);
    --fade-black: rgba(0, 0, 0, 0.6);
}
/*-------------------------------*/

noscript{
    background-color: rgb(199, 13, 13);
    color: #fff;
    width: 100%;
}
body{
    background-color: var(--body-bg-color);   
}
body p{
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    color: var(--p-color);
}
body h1{
    font-family: var(--title-font-family);
    color: var(--h1-color);
}
body h2{
    font-family: var(--h2-font);
    font-size: var(--subtitle-font-size);
    text-transform: uppercase;
    color: var(--h2-color);
}
body h3{
    font-family: var(--h3-font);
    text-transform: uppercase;
    color: var(--h3-color);
}
.span{
    color: var(--brown);
    text-decoration: underline;
}
.asteristico{
    color: rgb(243, 45, 45);
}
/*------------------------------------------------*/
/*---------------------HEADER---------------------*/
/*------------------------------------------------*/
#header{
    width: 100%;
    min-height: 100vh;
    background: url(../imagens/header-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header h2, #header p{
    color: var(--header-white);
}
#header-container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--fade-black);
}
#navbar{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#logo{
    color: var(--white);
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
}
#logo h1{
    padding: 10px 0;
}
#bars{
    display: none;
}
#mode{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.mode1{
    display: none;
}
#links{
    color: rgb(255, 255, 255);
}
#links.show {
    display: block;
}
#links ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#links ul li{
    padding: 30px 15px;
    list-style-type: none;
}
#links ul li a{
    padding: 0 0 10px 0;
    text-decoration: none;
    color: var(--white);
    font-size: var(--text-font-size);
    font-family: var(--text-font-family);
    text-transform: uppercase;
}
#links ul li a:hover{
    border-bottom: 2px solid var(--brown);
}
#welcome{
    width: 35%;
    display: block;
    margin: auto;
    color: var(--white);
    text-align: center;
    margin-top: 8%;
}
#welcome h2{
    text-transform: uppercase;
}
#welcome-logo p{
    font-family: var(--title-font-family);
    font-size: 36pt;
}
.welcome-item{
    padding: 15px 0;
}
#welcome-text p{
    font-size: 16pt;
}
#welcome-text{
    margin-bottom: 20px;
}
#btn-reservar{
    padding: 15px 35px;
    background-color: var(--brown);
    color: rgb(255, 255, 255);
    font-family: var(--text-font-family);
    font-size: 12pt;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}
#btn-reservar:hover{
    background-color: var(--brown-hover);
}
/*------------------------------------------------*/
/*---------------------ACERCA DE NOS--------------*/
/*------------------------------------------------*/
#about-us{
    width: 100%;
    min-height: 50vh;
    position: relative;
}
#about-us-container{
    width: 70%;
    min-height: 50vh;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px var(--services-box-shadow);
}
.about-h2{
    text-align: center;
    padding: 30px 0;
}
.about{
    width: 50%;
    min-height: 50vh;
    border-radius: 10px;
}
#about-text{
    background-color: var(--services-bg-color);
    border-radius: 10px;
    position: relative;
}
.about-us-h3{
    text-align: center;
}
.about-us-h3 h3:nth-child(1){
    padding: 20px 0 0 0;
    font-family: var(--text-font-family);
}
.about-us-p{
    text-align: justify;
    padding: 30px 40px 0 40px;
    line-height: 30px;
    margin-bottom: 20px;
}
.about-us-h3-logo{
    color: var(--brown);
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    text-transform: unset;
}
#about-img{
    background: url(../imagens/form-bg.webp);
    background-size: cover;
}
/*------------------------------------------------*/
/*---------------------NOSSOS SERVICOS------------*/
/*------------------------------------------------*/
#services{
    width: 100%;
    min-height: 95vh;
    position: relative;
    background-color: var(--services-section-color);
}
#our-services-h2{
    width: 100%;
    text-align: center;
}
#our-services-h2 h2{
    padding: 20px 0 40px 0;
}
.services-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.services-container h3{
    font-size: 12pt;
}
.services{
    width: 30%;
    margin-bottom: 30px;
    min-height: 300px;
    background-color: var(--services-bg-color);
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px 1px var(--services-box-shadow);
}
.services-img img{
    padding: 20px 0 0 0;
    width: 15%;
    height: 20%;
}
.services-title, .services-p{
    padding: 10px 0;
}
.services-title{
    padding: 20px 0;
}
.services-p{
    padding: 0 20px 30px 20px;
    font-size: 14pt;
    text-align: left;
    text-align: center;
}
/*------------------------------------------------*/
/*---------------------coments------------*/
/*------------------------------------------------*/
#coments-clients{
    width: 100%;
    min-height: 50vh;
    background-color: var(--coments-section-color);
    position: relative;
}
.coments-container{
    width: 80%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    position: relative;
}
.coments-slider{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.coment-h2{
    width: 100%;
}
#coment-sub{
    text-align: center;
    padding: 30px 0 0 0;
}
.coments{
    background-color: var(--brown); 
    width: 35%;
    min-height: 260px;
    margin: auto auto;
    border-radius: 10px;
}
.arrow{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto auto;
}
.profile{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: block;
    margin: -15% auto 0 auto;
}
.coment, .client{
    text-align: center;
}
.client{
    font-weight: bold;
    color: #fff;
}
.coment{
    padding: 20px;
    color: #fff;
}
/*------------------------------------------------*/
/*-----------------------CONTACTO-----------------*/
/*------------------------------------------------*/
#contact{
    width: 100%;
    min-height: 65vh;
}
.contact-h2, #contact-container{
    width: 100%;
}
.contact-h2{
    text-align: center;
    font-family: var(--text-font-family);
    padding: 0 0 50px 0;
    /* background-color: var(--white); */
}
#contact-container{
    display: flex;
    flex-direction: row;
    min-height: 65vh;
}
#map-container{
    width: 60%;
}
#map{
    width: 100%;
    min-height: 100%;
}
#address{
    width: 40%;
    background: url(../imagens/front-barber-shop.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.fader-contact{
    background-color: rgba(0,0,0,.7);
    min-height: 100%;
}
#address h3, #address p{
    margin-left: 20px;
    display: block;
    margin-bottom: 10px;
}
#address h3{
    padding: 20px 0;
    font-family: var(--text-font-family);
    color: var(--brown);
}
#address p{
    color: rgb(255, 255, 255);
}
/*------------------------------------------------*/
/*---------------------FORMULARIO RESERVA----------*/
/*------------------------------------------------*/
.alert-reserva{
    color: var(--white);
    text-align: center;
    padding: 10px;
}
#erro-reserva,#erro-numero,#erro-nome,
#erro-idade,#erro-corte,#erro-dia,
#erro-hora{
    background-color: var(--error-red);
    color: rgb(255, 255, 255);
}
#sucesso-reserva{
    background-color: var(--sucess-green);
    color: rgb(255, 255, 255);
}
#formulario-reserva{
    width: 100%;
    min-height: 70vh;
    height: auto;
    position: relative;
}
.formulario-reserva-container{
    background: url(../imagens/form-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#fader{
    width: 100%;
    min-height: 70vh;
    height: auto;
    background-color: var(--fade-black);
}
#formulario{
   width: 50%;
   height: 100%;
   margin: auto;
   display: flex;
   flex-direction: row;
}
#form-h2{
    text-align: center;
    padding: 50px 0;
}
.reserva{
    color: rgb(174, 177, 6);
    text-decoration: underline;
}
.form{
    width: 50%;
}
.form label{
    color: rgb(255, 255, 255);
    margin-left: 10%;
    padding: 10px 0 10px 0;
    font-family: var(--text-font-family);
}
input, select, textarea, label, #preco{
    display: block;
    margin: 0 auto;
}
input, select, textarea{
    outline: none;
    background-color: rgb(252, 250, 250);
    border: none;
}
input, #preco{
    width: 80%;
    height: 40px;
    padding: 0 0 0 8px;
}
#preco{
    text-align: center;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
}
#valor, #preco{
    background-color: rgb(255, 255, 255);
    font-family: var(--text-font-family);
    color: rgb(0, 0, 0);
}
select{
    width: 83%;
    padding: 0 0 0 8px;
    height: 40px;
}
textarea{
    width: 80%;
    margin-bottom: 15px;
    padding: 5px 0 0 8px;
    resize: none;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    width: 80%;
    -webkit-appearance: none;
}
#btn-submit{
    background-color: var(--brown);
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 30px;
    height: 45px;
}
#btn-submit:hover{
    background-color: var(--brown-hover);
    cursor: pointer;
}
/*------------------------------------------------*/
/*---------------------RODAPE---------------------*/
/*------------------------------------------------*/
#footer{
    position: relative;
}
#footer, .footer-container{
    width: 100%;
    background-color: var(--footer-bg-color);
}
.footer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}
.footer-container h1{
    font-size: 32pt;
    color: var(--brown);
    font-family: var(--title-font-family);
}
.footer-item{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#social-media img{
    width: 40px;
    height: 40px;
    margin: 0 20px;
}
#developer{
    text-align: center;
    padding: 20px 0;
}
#developer p{
    color: rgb(255, 255, 255);
}
#author{
    color: var(--brown);
}
/*------------------------------------------------*/
/*---------------------@MEDIA---------------------*/
/*------------------------------------------------*/
@media screen and (max-width: 360px){
    #links ul{
        border-radius: 20px;   
    }
    #welcome-btn{
        padding: 0 0 40px 0;
    }
    .menu{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width: 572px) and (max-width: 640px){ 
    .mode1{
        display: block;
        width: 33px;
        height: 33px;
    }
    #link-6{
        display: none;
    }
    .menu{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
@media screen and (max-width: 571px){
    #navbar{
        width: 100%;
        flex-direction: column;
    }
    #logo, #links{
       width: 100%;
    }
    #logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo h1{
        font-size: 30pt;
    }
    #bars{
        display: block;
        width: 40px;
        height: 40px;
        padding: 10px 0;
        margin-right: 20px;
    }
    .mode1{
        width: 33px;
        height: 33px;
        margin: 14px 10px 0 0;
        display: block;
    }
    #link-6{
        display: none;
    }
    #links{
	    position: absolute;
	    top: 4.5rem;
        display: none;
    }
    #links ul{
        flex-direction: column;
        padding: 0;
        width: 100%;
        background-color: var(--brown);
        height: 100%;
        border-radius: 20px;
    }
    #links ul li{
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }
    #links ul li a{
        width: 100%;
    }
    #links ul li:hover{
        background-color: var(--brown);
    }
    #welcome{
        width: 90%;
        margin-top: 20%;
    }
    #welcome-btn{
        padding: 0 0 40px 0;
    }
/*------------------------------------------------*/
/*---------------------ACERCA DE NOS--------------*/
/*------------------------------------------------*/
    #about-us-container{
        width: 100%;
        flex-direction: column;
    }
    .about{
        width: 100%;
    }
    #about-img{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
/*------------------------------------------------*/
/*---------------------NOSSOS SERVICOS------------*/
/*------------------------------------------------*/
.services-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
}
.services{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    min-height: 250px;
}
.services-p{
    padding: 0 20px 30px 20px;
}
/*------------------------------------------------*/
/*---------------------COMENTS------------*/
/*------------------------------------------------*/
.coments-container, .coments-slider, .coments{
    width: 100%;
}
#coment-2{
    display: none;
}
.client{
    margin-bottom: 20px;
}
/*------------------------------------------------*/
/*-------------------------CONTACTO---------------*/
/*------------------------------------------------*/
#contact{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#map-container, #map, #address{
    width: 100%;
}

/*------------------------------------------------*/
/*------------------FORMULARIO RESERVA------------*/
/*------------------------------------------------*/
#formulario{
    width: 100%;
    flex-direction: column;
}
.form{
    width: 95%;
    margin: auto;
}
#left-form{
    margin-bottom: 0;
}
/*------------------------------------------------*/
/*---------------------RODAPE---------------------*/
/*------------------------------------------------*/
.footer-container{
    width: 100%;
    flex-direction: column;
}
.footer-item{
    width: 100%;
    line-height: 100px;
}

}
/*---------------------------MEDIA 572 - 768-----------------------*/
@media screen and (min-width: 572px) and (max-width: 768px){
#navbar{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#links{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#welcome{
    margin-top: 15%;
    width: 80%;
}
#welcome-btn{
    padding: 0 0 40px 0;
}
/*------------------------------------------------*/
/*---------------------ACERCA DE NOS--------------*/
/*------------------------------------------------*/
#about-us{
    min-height: 30vh;
    position: relative;
}
#about-us-container{
    width: 95%;
    min-height: 30vh;
}
.about{
    width: 50%;
    min-height: 30vh;
}
/*------------------------------------------------*/
/*---------------------SERVICOS------------*/
/*------------------------------------------------*/
#our-services-h2 h2{
    padding: 10px 0 30px 0;
}
.services-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#services{
    margin-bottom: 50px;
}
.services{
    width: 48%;
    margin: 5px;
}
.services-p{
    padding: 0 20px 20px 20px;
}
/*------------------------------------------------*/
/*-------------------------CONTACTO---------------*/
/*------------------------------------------------*/
#coments-clients{
    min-height: 40vh;
}
.coments-container, .coments-slider, .coments{
    width: 85%;
}
#coment-2{
    display: none;
}
#coment-sub{
    padding: 0;
}
#contact{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#map-container, #map, #address{
    width: 100%;
}
/*------------------------------------------------*/
/*---------------------FORMULARIO RESERVA------------*/
/*------------------------------------------------*/
#formulario{
    width: 80%;
    flex-direction: row;
}
/*------------------------------------------------*/
/*---------------------RODAPE---------------------*/
/*------------------------------------------------*/
.footer-item{
    line-height: 80px;
}
#social-media a{
    margin-top: 5%;
}
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    #welcome{
        margin-top: 20%;
        width: 70%;
    }
/*------------------------------------------------*/
/*---------------------ACERCA DE NOS--------------*/
/*------------------------------------------------*/
#about-us{
    min-height: 30vh;
    position: relative;
}
#about-us-container{
    width: 95%;
    min-height: 30vh;
}
.about{
    min-height: 30vh;
}
/*---------------------SERVICOS------------*/
#services{
    min-height: 60vh;
}
    .services-container{
        width: 95%
    }
/*---------------------coments--------------------*/
#coments-clients{
    width: 100%;
    min-height: 45vh;
}
.coments-container{
    width: 95%;
}
.coments{
    width: 45%;
}
.client{
    margin-bottom: 20px;
}
/*-------------------------CONTACTO---------------*/
#contact, #contact-container{
    min-height: 40vh;
}

/*---------------------FORMULARIO RESERVA------------*/
#formulario-reserva{
    height: 40vh;
}
#formulario{
    width: 80%;
    flex-direction: row;
}

/*-------------------------RODAPE-----------------------*/
.footer-item{
    line-height: 80px;
}
#social-media a{
    margin-top: 3%;
}
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    #welcome{
        width: 50%;
    }
/*------------------------------------------------*/
/*---------------------ACERCA DE NOS--------------*/
/*------------------------------------------------*/
#about-us{
    min-height: 30vh;
    position: relative;
}
#about-us-container{
    width: 80%;
    min-height: 30vh;
}
.about{
    min-height: 30vh;
}
/*---------------------SERVICOS-----------------------*/
    .services-container{
        width: 90%;
    }
/*---------------------coments--------------------*/
.coments{
    width: 45%;
}
.client{
    margin-bottom: 20px;
}
/*---------------------FORMULARIO RESERVA------------*/
    #formulario{
        width: 70%;
        height: 90vh;
        flex-direction: row;
    }
/*-------------------------RODAPE-----------------------*/
.footer-item{
    line-height: 80px;
}
#social-media a{
    margin-top: 3%;
}
}