body{
    background-color: #fff;
}
body p{
    font-family: "Open sans regular", arial, sans-serif;
    font-size: 14pt;
}
body h1{
    font-family: "Great Vibes", "Times New Roman", arial, serif;
}
body h2{
    font-family: "Open sans regular", arial, sans-serif;
    font-size: 18pt;
    text-transform: uppercase;
}
body h3{
    font-family: "Open sans regular", arial, sans-serif;
    text-transform: uppercase;
}
.span{
    color: rgb(124, 126, 14);
    text-decoration: underline;
}
/*------------------------------------------------*/
/*---------------------HEADER---------------------*/
/*------------------------------------------------*/
#header-container{
    background-color: rgba(0, 0, 0, 0.6);
}
#logo{
    color: rgb(255, 255, 255);
    font-family: "Great Vibes", "Times New Roman", arial, serif;
    font-size: 26pt;
}
#links ul li a{
    color: rgb(255, 255, 255);
    font-size: 14pt;
    font-family: "Open sans regular", arial, sans-serif;;
}
#links ul li a:hover{
    border-bottom: 2px solid rgb(124, 126, 14);
}
#welcome{
    color: rgb(255, 255, 255);
}
#welcome-logo p{
    font-family: "Great Vibes", "Times New Roman", arial, serif;
    font-size: 36pt;
}
#btn-reservar{
    background-color: rgb(124, 126, 14);
    color: rgb(255, 255, 255);
    font-family: "Open sans regular", arial, sans-serif;
    font-size: 12pt;
}
#btn-reservar:hover{
    background-color: rgb(159, 161, 24);
}
/*------------------------------------------------*/
/*---------------------ACERCA DE NOS--------------*/
/*------------------------------------------------*/
/* #about-us-container{
    background-color: rgb(255, 255, 255);
}
#about-text{
    background-color: rgb(255, 255, 255);
} */
.about-us-h3 h3:nth-child(1){
    font-family: "Open sans regular", arial, sans-serif;;
}
.about-us-h3-logo{
    color: rgb(124, 126, 14);
    font-family: "Great Vibes", "Times New Roman", arial, serif;
    font-size: 26pt;
}

/*------------------------------------------------*/
/*---------------------NOSSOS SERVICOS------------*/
/*------------------------------------------------*/
.services-container h3{
    font-size: 12pt;
}
.services{
    background-color: rgb(255, 255, 255);
}

/*------------------------------------------------*/
/*---------------------coments------------*/
/*------------------------------------------------*/
#coments-clients{
    background-color: rgb(255, 255, 255);
}
.coments{
    background-color: rgb(124, 126, 14);
}
.coment, .client{
    color: rgb(255, 255, 255);
}

/*------------------------------------------------*/
/*-----------------------CONTACTO-----------------*/
/*------------------------------------------------*/
.contact-h2{
    font-family: "Open sans regular", arial, sans-serif;;
    background-color: rgb(255, 255, 255);
}

.fader-contact{
    background-color: rgba(0,0,0,.7);
}

#address h3{
    font-family: "Open sans regular", arial, sans-serif;;
    color: rgb(124, 126, 14);
}
#address p{
    color: rgb(255, 255, 255);
}

/*------------------------------------------------*/
/*---------------------FORMULARIO RESERVA----------*/
/*------------------------------------------------*/
.alert-reserva{
    color: rgb(255, 255, 255);
}
#erro-reserva{
    background-color: rgb(241, 33, 33);
}
#sucesso-reserva{
    background-color: rgb(6, 167, 19);
}
#fader{
    background-color: rgba(0, 0, 0, 0.6);
}

.formulario-h2{
    background-color: rgb(255, 255, 255);
}
/* #form-h2{
    color: #000;
} */
.reserva{
    color: rgb(174, 177, 6);
}

.form label{
    color: #fff;
    margin-left: 10%;
    padding: 10px 0 10px 0;
    font-family: "Open sans regular", arial, sans-serif;;
}

input, select, textarea{
    background-color: rgb(252, 250, 250);
}
#valor, #preco{
    background-color: #fff;
    font-family: "Open sans regular", arial, sans-serif;
    color: #000;
}
#btn-submit{
    background-color: rgb(124, 126, 14);
    color: #fff;
}
#btn-submit:hover{
    background-color: rgb(159, 161, 24);
}
/*------------------------------------------------*/
/*---------------------RODAPE---------------------*/
/*------------------------------------------------*/
#footer, .footer-container{
    background-color: #000;
}
.footer-container h1{
    font-size: 32pt;
    color: rgb(124, 126, 14);
    font-family: "Great Vibes", "Times New Roman", arial, serif;
}
#developer p{
    color: rgb(255, 255, 255);
}
#author{
    color: rgb(124, 126, 14);
}

/*------------------------------------------------*/
/*---------------------@MEDIA---------------------*/
/*------------------------------------------------*/
@media screen and (max-width: 571px){
    #links ul{
        background-color: rgb(124, 126, 14);
    }
    #links ul li:hover{
        background-color: rgb(124, 126, 14);
    }

}

